services:
  homeassistant:
    container_name: homeassistant
    image: "ghcr.io/home-assistant/home-assistant:stable"
    volumes:
      - ./config:/config
      - /etc/localtime:/etc/localtime:ro
    restart: unless-stopped
    networks:
      - proxy
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.ha.rule=Host(`ha.localhost`)"
      - "traefik.http.services.ha.loadbalancer.server.port=8123"

networks:
  proxy:
    external: true